@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-width: 400px;
}

#listItems a{
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 6px;
    background-color: #cfe2ff;
    padding: 6px 10px;
    border: .2px solid #08429841;
    color: #084298;
}

#listItems::-webkit-scrollbar {
    width: 10px;
  }
  
#listItems::-webkit-scrollbar-track {
background: #d6d6d6; 
}
   
#listItems::-webkit-scrollbar-thumb {
background:#084298; 
}
  
#listItems::-webkit-scrollbar-thumb:hover {
background:#3d3b53; 
} 

#listItems{
    max-height: 80px;
    overflow-y: scroll;
    word-wrap: break-word
}